article {	
	section#tags {
		display: none;
	}
	padding: 10px;
	
	@media screen and (min-width: 768px)  {
		padding: 20px;
	}
	
	@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		width: 840px;
	}
	
	img { 
		@include autoresize; 
		display: block;
		margin: 0 auto;
		padding-top: 5px;
		@media screen and (max-width: 568px) and (orientation: landscape) {
			max-height: 260px;
		}
	}

	#comments {
		h2 {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	
	h3 { padding-bottom: 10px; }
	
	p { padding: 10px 0; }
	
	figure.summary {
		position: relative;
		width: 100%;
		img {
			margin-left: 0;
			max-height: 100%;
		}
		figcaption {
			padding: 10px;
			position: absolute;
			left: 0px;
			top: 50%;
			@media screen and (min-width: 768px)  {
				h1, h2 { 
					line-height: 120%;
				}
				padding: 20px;
			}
			@include button-size(40px);
			/* iPhone 5 landscape */
			@media screen and (max-width: 759px) {
				@include button-size(30px);
			}
			img {
				width: 24px;
				height: 24px;
			}
			div.interviewee { 
				float: right;
			}
			div.icons {
				margin-left: 0;
				float: left;
				a.download {
					img { 
						margin-left: 10px;
					}
				}
			}
			
		}
	}
}