$white: #fff;
$very-light-grey: #f3f5f6;
$lighter-grey: #d9dde1;
$light-grey: #dedad5;
$grey: #9aa6af;
$pure-grey: #A7A4A0;
$dark-grey: #6c6d6f;
$purple: #45174b;
$light-purple: #b9abba;
$almost-black: #1d2d35;
$light-black: #19252c;
$dark-black: #141e23;
$black: 000;

html {
	background-color: $white;
	@media only screen and (min-width: 1025px) {
		background-color: $light-purple;
	}
}

body {
	@include tap-highlight-color(rgba(0,0,0,0));
	background-color: $white;
	color: $dark-grey;
	.content { background-color: $white; }
	.container { @include backface-visibility(hidden); }
}

p { color: $dark-grey; }
a { color: $purple; }

article {
	h1, h2, h3 { 
		color: $purple;
		a {
			color: inherit;
		}
	}
	.summary {
		figcaption {
			opacity: 0.7;
			background-color: $purple;
			h1, h2 { color: $white; }
		}
	}
}

.social_bar {
	background-color: $pure-grey;
}

.credits {
	color: $white;
	background-color: $purple;
	p, a { color: inherit; }
}

/* Desktop */
@media only screen and (min-device-width: 1025px) {
	.container > header {
		background-color: $purple;
		nav a {
			color: $white;
			&:hover{
				color: $light-grey;
			}
		}
	}
}

/* Mobile and tablet */
@media only screen and (max-device-width: 1024px) {
	.container > header { background-color: $very-light-grey; }
	.burger li { background-color: $white; }
	.burger.open li { background-color: $lighter-grey; } 
	.container > header { background-color: $purple; }
	nav { 
		background-color: $almost-black;
		opacity: .3;
		li a {
			color: $grey;
			.active {
				color: $white;
				background-color: $dark-black;
			}
			&:hover {
				color: $white;
				background-color: $light-black;
			}
		}
	}
}

.button-link {
    background: #F5BA49;
    color: $white;
    border-color: #E69F1D;
	&:hover {
	    background: #E69F1D;
		border-color: #B1780D;
	}
	&:active {
	    background: #B1780D;
	    border-color: #472E00;
	}
}
