.container > header {
	img { @include autoresize; }
}

/* Desktop */
@media only screen and (min-device-width: 1025px) {
	.container > header {
		padding: 20px;
		img { width: 360px; }
		>ul { display: none; }
		nav {
			float: right;
			margin-top: 45px;
			li {
				display: inline-block;
				padding-left: 14px;
			}
		}
	}
	nav.slide { display: none; }
}

/* Mobile and tablet */
@media only screen and (max-device-width: 1024px) {
	.container > header {
		height: 50px;
		z-index: 2;
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		padding-top: 10px;
		@include starting-point;
		img {
			width: 200px;
			padding-left: 80px;
		}
		nav { display: none; }
		.burger {
			position: absolute;
			float: left;
			padding: 10px;
			top: 4px;
			left: 10px;
			display: block;
			li {
				width: 30px;
				height: 4px;
				border-radius: 3px;
				margin: 5px 0;
			}
		}
	}

	nav { 
		position: relative;
		right: 5px;
		width: 93%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		@include transform(translate3d(5%,0,0)scale(.97));
		ul {
			height: 100%;
			overflow-y: auto;
			li {
				display: block;
				float: none;
				a {
					display: block;
					padding: 22px 25px;
					letter-spacing: 3px;
					.logo { display: none; }
				}
			}
		}
	}
	/*Nav Expanding Open Effect*/
	nav.open {
		@include nav-effect($opacity: 1, $x: 0, $scale: 1, $time: .35s);
	}
	@include slide-in($opacity-start: .3, $opacity-end: 1, $x-start: 5%, $x-end: 0, $scale-start: .97, $scale-end: 1);
	/*Nav Shrinking Closed Effect*/
	nav.close {
		@include nav-effect($opacity: .3, $x: 5%, $scale: .97, $time: .3s);
	}
	@include slide-in($opacity-start: 1, $opacity-end: .3, $x-start: 0, $x-end: 5%, $scale-start: 1, $scale-end: .97);
	/* CONTENT ANNIMATION */
	.content {
		@include starting-point;
		z-index: 1;
	}
	/*Content Sliding Open Effect*/
	.container > header.open,
	.content.open {   
		@include content-effect($x: 240px, $time: .5s, $animation: open);
	}
	@include content-slide-open(0, 260px, 240px);
	/*Content Sliding Closed Effect*/
	.container > header.close,
	.content.close 
	{
		@include content-effect($x: 0, $time: .3s, $animation: close);
	}
	@include content-slide-close(240px, 0);
}