body {
	@media only screen and (min-device-width: 1025px) {
		margin: 0 auto;
		width: 840px;
	}

	@media only screen and (max-device-width: 1024px) {
		margin-top: 60px;
		min-height: 1136px;
	}

	@media only screen and (max-device-width: 767px) {
		min-height: 768px;
	}

	.container {
		overflow: hidden;
	}
}

