body {
	@media only screen and (min-device-width: 1025px) {
		margin: 0 auto;
		width: 840px;
	}

	@media only screen and (max-device-width: 1024px) {
		margin-top: 60px;
		background-color: $white;
		min-height: 1136px;
	}


	.container {
		overflow: hidden;

/*		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
*/	}
}

