section.newsletter {
	margin: 20px auto;
	
	form {
		padding: 20px;
		fieldset {
			border: none;
			input[type=email] {
				margin-top: 10px;
				padding: 0 10px;
				height: 30px;
				@include fix-border;
			}
			
			button {
				border: none;
				border-radius: 10px;
				height: 30px;
				cursor: pointer;
			}
		}
	}

	@media screen and (min-width: 764px) {
		width: 718px;
		height: 220px;
		form {
			fieldset {
				margin: 50px;
				input[type=email] {
					width: 320px;
				}
				
				button {
					margin-left: 10px;
					width: 230px;
				}
			}
		}
	}
	
	@media screen and (max-width: 764px) {
		width: 300px;
		form {
			fieldset {
				label {
					display: block;
				}
				input[type=email] {
					display: block;
					height: 30px;
					width: 100%;
					
				}
				
				button {
					display: block;
					margin-top: 10px;
					width: 100%;
				}
			}
		}
	}
}