.newsletter {
	margin: 20px auto;
	@media screen and (min-width: 764px) {
		width: 718px;
		height: 220px;
	}
	
	@media screen and (max-width: 764px) {
		width: 300px;
	}
	
	form {
		padding: 20px;
		fieldset {
			input {
				margin-top: 10px;
				padding: 0 10px;
				height: 30px;
				@include fix-border;
			}
			button {
				border: none;
				border-radius: 10px;
				height: 30px;
				cursor: pointer;
			}
			@media screen and (min-width: 764px) {
				margin: 50px;
				input { width: 320px; }
				button {
					margin-left: 10px;
					width: 230px;
				}
			}
			@media screen and (max-width: 764px) {
				label, input, button {
					display: block;
				}
				input, button { width: 100%; }
				input { height: 30px; }
				button { margin-top: 10px; }
			}
		}
	}
}