section.teaser {
	margin: 0 auto;
	width: 720px;
	/* iPhone 5 landscape */
	@media screen and (max-width: 759px) {
		width: 548px;
	}
	/* iPhone landscape */
	@media screen and (max-width: 567px) {
		width: 460px;
	}
	/* iPhone portrait */
	@media screen and (max-width: 479px) {
		width: 300px;
	}
}

