body {
	@include text-size-adjust(none);
	@include font-smoothing(antialiased);
	@include font-normal(12pt);
	text-rendering: optimizelegibility;
	
	h1 { font-size: 14pt; }
	h2 { font-size: 12pt; }
	h3 { font-size: 10pt; }
	
	a { 
		text-decoration: none; 
		color: $light-grey;
	}
	
	article {
		p {
			strong {
				font-weight: 700;
			}
		}
	}
}
