---
layout: page
title: Obrigado por baixar o e-Book Maquiagem e Penteados para Noivas
fb_title: Obrigado por baixar o e-Book Maquiagem e Penteados para Noivas
fb_description: Obrigado por baixar o e-Book Maquiagem e Penteados para Noivas produzido pela Rádio Bastidores.
fb_conversion: 6021408756175
thumbnail: https://lh5.googleusercontent.com/-nH3Pg4r5HFI/VAQaUKd42jI/AAAAAAAAAz0/BWHmiy86GlI/s800/livro3D-ebook-juniorfiel-anuncio.png
description: Obrigado por baixar o e-Book Maquiagem e Penteados para Noivas produzido pela Rádio Bastidores.
keywords: thank you, e-book
body_id: thank-you-e-book-sapatos-para-noivas
---
{% for post in site.posts %}
{%   if post.id == '/luana-zabot' %}
{%      assign episode = post %}
{%    endif %}
{% endfor %}

<article class="post">
  <section>
    <h1>Obrigado!</h1>
    <p>Em alguns minutos você receberá o <strong>e-Book Sapatos para Noivas</strong> em seu email. A propósito, já escutou a <a href="/luana-zabot">entrevista com Luana Zabot</a> justamente sobre <strong>sapatos para noivas</strong>?</p>
    <p>Se não tiver escutado, basta clicar no botão do play aí embaixo. E, enquanto você escuta, aproveite para conhecer e curtir a <a href="http://facebook.com/rbastidores">fanpage da Rádio Bastidores</a>.</p>
  </section>
  <section>
    {% include episode/header.html %}  
  </section>
</article>