<section class="other_sites">
  <h2>Essa entrevista em outros sites</h2>
  <ul>
    {% if episode.facebook_url %}<li><a href="{{ site.facebook_link }}/{{ episode.facebook_url }}" title="Anúncio da entrevista de {{ episode.guest }} no Facebook.">Facebook</a></li>{% endif %}
    {% if episode.twitter_id %}<li><a href="{{ site.twitter_link }}/status/{{ episode.twitter_id }}" title="Anúncio da entrevista de {{ episode.guest }} no Twitter.">Twitter</a></li>{% endif %}
    {% if episode.instagram_id %}<li><a href="http://instagram.com/p/{{ episode.instagram_id }}/?modal=true/" title="Anúncio da entrevista de {{ episode.guest }} no Instagram.">Instagram</a></li>{% endif %}
    {% if episode.pinterest_id %}<li><a href="{{ site.pinterest_link }}/{{ episode.pinterest_id }}/" title="Fotos do trabalho de {{ episode.guest }} no Pinterest.">Pinterest</a></li>{% endif %}
    {% if episode.googleplus_id %}<li><a href="{{ site.googleplus_link }}/posts/{{ episode.googleplus_id }}" title="Anúncio da entrevista de {{ episode.guest }} no Google Plus.">Google Plus</a></li>{% endif %}
    {% if episode.vimeo_id %}<li><a href="{{ site.vimeo_link }}/{{ episode.vimeo_id }}" title="Escute a entrevista de {{ episode.guest }} no Vimeo.">Vimeo</a></li>{% endif %}
    {% if episode.youtube_id %}<li><a href="https://www.youtube.com/watch?v={{ episode.youtube_id }}" title="Escute a entrevista de {{ episode.guest }} no You Tube.">You Tube</a></li>{% endif %}
    {% if episode.soundcloud_id %}<li><a href="{{ site.soundcloud_link }}/{{ episode.soundcloud_id }}" title="Escute a entrevista de {{ episode.guest }} no Soundcloud.">Soundcloud</a></li>{% endif %}
    {% if episode.stitcher_id %}<li><a href="{{ site.stitcher_link }}/episode/{{ episode.stitcher_id }}?autoplay=true" title="Escute a entrevista de {{ episode.guest }} no Stitcher.">Stitcher</a></li>{% endif %}
    <li><a href="{{ site.subscribe_rss }}" title="Assine o RSS da Rádio Bastidores para ficar informado das próximas entrevistas.">RSS</a></li>
    <li><a href="{{ site.itunes_link }}" title="Assine a Rádio Bastidores no iTunes.">iTunes</a></li>
    {% if episode.link %}<li><a href="{{ episode.link }}"  title="Baixe a entrevista de {{ episode.guest }}." download>Baixar a entrevista</a></li>{% endif %}
  </ul>
</section>
