article {
	padding: 30px 40px;
	font-size: 12pt;
	h1 {
		padding-bottom: 30px;
	}		
	p {
		padding-bottom: 10px;
	}
	footer {
		padding: 30px 40px;
	}
}

#episodes {
	article {
		padding: 0;
	}
}

body#episode {
	article {
		padding: 0;
		width: 680px;
		img {
			max-width: 100%;
			height: auto;
		    width: auto; /* ie8 */
		}
		p {
			padding-left: 40px;
			padding-right: 40px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

