* {
	margin: 0;
	padding: 0;
}

body#teaser {
	background-color: #45174B;
	width: 300px;
	margin: 0 auto;
	font-family: $font-default;
	font-weight: 400;
	color: #ffffff;
	
	@media only screen and (min-device-width : 130px) { 
		width: 100px;
	}

	@media only screen and (min-device-width : 220px) { 
		width: 200px;
	}
	
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 
		width: 300px;
	}
	
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
		width: 360px;
	}

	@media only screen and (min-device-width : 568px) { 
		width: 500px;
	}

	@media only screen and (min-device-width : 640px) { 
		width: 600px;
	}

	@media screen and (min-width: 768px) {
		margin-top: 20px;
		width: 720px;
	}
	
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    height: 0;
	    overflow: hidden;
	
		iframe {
		    position: absolute;
		    top:0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
	
	section.logo {
		margin: 40px 0;
		h1 {
			float: right;
			margin-top: 36px;
			font-family: 'Cabin Sketch';
		  	font-style: normal;
		  	font-weight: 400;
			font-size: 24pt;		
/*			color: #d5d7d4;*/
			color: #fff;
		}
	}
	
	section.newsletter {
		background-color: #fff;
		margin-bottom: 20px;
		background: url(/images/teaser/envelope5.png) no-repeat;
		width: 718px;
		height: 220px;

		form {
			padding: 20px 20px;
			color: #45174B;
			border: 0;
			margin: 0;

			fieldset {
				margin: 50px;
				border: none;
				font-family: $font-default;
				font-weight: 400;
				font-size: 12pt;
				label {
					font-family: 'Montserrat';
					font-weight: 400;
					display: block;
					font-size: 14pt;					
					color: #613867;
				}
				input[type=email] {
					color: #613867;
					margin-top: 10px;
					height: 30px;
					width: 320px;
					font-family: 'Montserrat';
					font-weight: 400;
					font-size: 14pt;					
					font-size: 100%;
					padding-left: 10px;
					padding-right: 10px;
					-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
				     -moz-box-sizing: border-box; /* For all Gecko based browsers */
				          box-sizing: border-box;
				}
				
				input[type=button] {
					margin-top: 10px;
					height: 30px;
					width: 100px;
					font-family: 'Montserrat';
					font-weight: 400;
					font-size: 14pt;					
					font-size: 100%;
					padding-left: 10px;
					padding-right: 10px;
					-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
				     -moz-box-sizing: border-box; /* For all Gecko based browsers */
				          box-sizing: border-box;
				}
				
				button {
/*				  position     : absolute;*/
/*				  left         : 440px;*/
/*				  top          : 20px;*/
					
					margin-left: 10px;
					height: 30px;
					width: 230px;
					background-color: #613867;
					
/*				  padding      : 10px;*/

/*				  font         : bold .6em sans-serif;*/
				  border       : 2px solid #613867;
				  border-radius: 10px;
					color: #fff;
					font-family: 'Montserrat';
					font-weight: 400;
					font-size: 10pt;					
					
/*				  background   : none;*/

				  cursor       : pointer;

				}
			}
		}
	}
}

