$max-width: 1000px;

* {
	margin: 0;
	padding: 0;
}

html {
/*	background-color: #223921;*/
	background-color: #DEDAD5;
	
}

fieldset {
  padding:                          0;
  border:                           none;
  margin:                           0;
}

body {
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
		width: 300px;
	}

	@media only screen and (min-device-width : 567px) { 
		width: 1000px;
		margin: 0 20px;
	}
	margin: 0 auto;
	font-family: $font-default;
	font-weight: 400;
	font-size: 16px;
	color: $color-gray01;
	@media screen and (max-width: 1040px){
	}
	@media screen and (max-width: 600px){
		font-size: 13px;
	}
}

h1{
	font-size: 1.8em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.3em;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $color-main;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clearfix{
	@include pie-clearfix;
}
/*.inner{
	width: $max-width;
	margin: 0 auto;
	@media screen and (max-width: 1040px){
		width: 100%;
	}
}
*/
#main_content {
	margin: 0 0;
	padding: 0 0;
	color: #4D4D4D;
	background-color: #FFFFFF;
}
