---
layout: page
title: Aprenda a assinar a Rádio Bastidores e receber os episódios automaticamente em seu iPhone
fb_title: Como assinar a Rádio Bastidores no iPhone?
fb_description: Aprenda a assinar a Rádio Bastidores e receber os episódios automaticamente em seu iPhone.
fb_conversion: 6020861457375
thumbnail: https://i.vimeocdn.com/video/484810626_960.jpg
description: Aprenda a assinar a Rádio Bastidores e receber os episódios automaticamente em seu iPhone.
keywords: tutorial, screencast, iphone, podcast
body_id: index
category:
  - tutorial
  - screencast
  - iphone
  - podcast
---
<article class="post">
  <section>
    {% include iphone.html %}
  </section>
  
  <footer>
  	{% include newsletter.html %}
  </footer>
</article>