---
layout: page
title: Entrevistas da Rádio Bastidores.
thumbnail: 
description: 
keywords: 
body_id: episodes
---
{% for episode in paginator.posts %}
    <article class="post">
      <header>
        {% include summary.html %}
      </header>
    </article>
{% endfor %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">Prev</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Next</a>
    {% endif %}
</nav>