{% assign episode = page %}

<article class="post">
  <header>
    {% include summary.html %}
  </header>
  {{ content }}
  <footer>
    {% unless page.sharing == false %}
    	{% include post/sharing.html %}
    {% endunless %}
  	<section id="date">{% include post/date.html %}{{ time }}</section>
  	<section id="tags">{% include post/categories.html %}</section>
  	{% if site.disqus_short_name and site.disqus_show_comment_count == true %}
    	<section id="comments">
        <h2 class="title">Comments</h2>
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    	</section>
  	{% endif %}
  </footer>
</article>
