<header class="slide">     
    <ul id="navToggle" class="burger slide">
			<li></li><li></li><li></li>
		</ul>
		<a href="/">
		  <img class="logo-white" src="/images/logo-branco.png">
		  <img class="logo-purple" src="/images/logo.png">
		</a>
		<nav>
      {% include menu.html %}
    </nav>  
</header>

<nav class="slide">
  {% include menu.html %}
</nav>

{% comment %}
<section class="social_bar">{% include social_bar.html %}</section>
<section id="navigation">{% include navigation.html %}</section>
{% endcomment %}
