<h1>Como assinar a Rádio Bastidores no iPhone?</h1>
<p>Basta seguir as instruções no vídeo abaixo. É fácil e rápido.</p>
<p>Se você não usa o <strong>iPhone</strong>, não se preocupe. Estamos preparando outros vídeos que mostram como assinar a <a href="/">Rádio Bastidores</a> em outros dispositivos.</p>
<div class="video player">
  <iframe src="//player.vimeo.com/video/102750289?title=0&amp;byline=0&amp;portrait=0" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
