<section class="newsletter">
  <form action="http://radiobastidores.us8.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="cecebfbbfb679d21790830099">
    <input type="hidden" name="id" value="53327989c1">
    <fieldset>
      <label for="MERGE0">Quer receber as entrevistas por email toda segunda-feira?</label>
      <input type="email" autocapitalize="off" autocorrect="off" autofocus="true" placeholder="endereço de email" id="MERGE0" name="MERGE0" value="">
      <button type="submit">Claro! Envie-me as entrevistas.</button>
    </fieldset>
  </form>
</section>

{% comment %}
<section class="newsletter">
  <h1>Fique por dentro</h1>
  {% include newsletter_form.html %}
</section>
{% endcomment %}