<section class="social_bar">
  <a href="{{ site.facebook_link }}" title="Facebook da Rádio Bastidores"><img src="/images/social_media/facebook.png" width="10" height="21"></a>
  <a href="{{ site.twitter_link }}" title="Twitter da Rádio Bastidores"><img src="/images/social_media/twitter.png" width="22" height="18" ></a>
  <a href="{{ site.instagram_link }}" title="Instagram da Rádio Bastidores"><img src="/images/social_media/instagram.png" width="24" height="24"></a>
  <a href="{{ site.pinterest_link }}" title="Pintrest da Rádio Bastidores"><img src="/images/social_media/pinterest.png" width="15" height="20"></a>
  <span class="not_on_mobile">
    <a href="{{ site.youtube_link }}" title="Canal do You Tube da Rádio Bastidores"><img src="/images/social_media/youtube.png" width="35" height="24"></a>
    <a href="{{ site.googleplus_link }}" title="Google Plus da Rádio Bastidores"><img src="/images/social_media/googleplus.png" width="25" height="21"></a>
  </span>
  <a href="{{ site.itunes_link }}" title="Inscreva-se no iTunes para receber as entrevistas automaticamente e escutar quando não estiver conectado(a) à internet."><img src="/images/social_media/itunes.png" width="24" height="24"></a>
  <a href="{{ site.stitcher_link }}" title="Escute a Rádio Bastidores pelo Stitcher, seja no iPhone, iPad ou dispositivos Android."><img src="/images/social_media/stitcher.png" width="57" height="28"></a>
  <a href="{{ site.soundcloud_link }}" title="SoundCloud da Rádio Bastidores"><img src="/images/social_media/soundcloud.png" width="50" height="23"></a>
  <a href="{{ site.subscribe_rss }}" title="RSS da Rádio Bastidores"><img src="/images/social_media/rss.png" width="19" height="19"></a>
  <a href="mailto:{{ site.contact_email }}" title="Email da Rádio Bastidores"><img src="/images/social_media/email.png" width="24" height="17"></a>
  {% comment %}
    <a href="http://www.radiobastidores.com.br"><img src="/images/social_media/search.png" width="18" height="18"></a>
    <a href="{{ site.vimeo_link }}"><img src="/images/social_media/vimeo.png" width="18" height="18"></a>
  {% endcomment %}
</section>