{% include newsletter_form.html %}

<a href="http://soundcloud.com"><img src="/images/social_media/soundcloud.png" width="50" height="23"></a>
<a href="http://www.stitcher.com/"><img src="/images/social_media/stitcher.png" width="57" height="28"></a>
<a href="https://www.apple.com/br/itunes/"><img src="/images/social_media/itunes.png" width="24" height="24"></a>
<a href="https://www.facebook.com/rbastidores"><img src="/images/social_media/facebook.png" width="10" height="21"></a>
<a href="https://twitter.com/rbastidores"><img src="/images/social_media/twitter.png" width="22" height="18" ></a>
<a href="http://www.pinterest.com/rbastidores/"><img src="/images/social_media/pinterest.png" width="15" height="20"></a>
<a href="http://instagram.com/rbastidores"><img src="/images/social_media/instagram.png" width="24" height="24"></a>
<a href="https://www.youtube.com/user/RadioBastidores"><img src="/images/social_media/youtube.png" width="35" height="24"></a>
<a href="https://plus.google.com/b/112561010997382626812/112561010997382626812/posts"><img src="/images/social_media/googleplus.png" width="25" height="21"></a>
<a href="http://www.radiobastidores.com.br"><img src="/images/social_media/rss.png" width="19" height="19"></a>
<a href="http://www.radiobastidores.com.br"><img src="/images/social_media/email.png" width="24" height="17"></a>
<a href="http://www.radiobastidores.com.br"><img src="/images/social_media/search.png" width="18" height="18"></a>
