---
layout: page
title: Obrigado por baixar o e-Book Bolos de Casamento
fb_title: Obrigado por baixar o e-Book Bolos de Casamento
fb_description: Obrigado por baixar o e-Book Bolos de Casamento produzido pela Rádio Bastidores.
fb_conversion: 6020861513775
thumbnail: https://lh6.googleusercontent.com/-w1xuHBonnNE/U-vRIkYkzqI/AAAAAAAAATw/5MnLx5ECn14/s800/Livro3D%2520ebook.png
description: Obrigado por baixar o e-Book Bolos de Casamento produzido pela Rádio Bastidores.
keywords: thank you, e-book
body_id: thank-you-e-book-bolos-de-casamento
category:
  - thank you
  - e-book
---
{% for post in site.posts %}
{%   if post.id == '/ana-salinas' %}
{%      assign episode = post %}
{%    endif %}
{% endfor %}

<article class="post">
  <section>
    <h1>Obrigado!</h1>
    <p>Em alguns minutos você receberá o <strong>e-Book Bolos de Casamento</strong> em seu email. A propósito, já escutou a <a href="/ana-salinas">entrevista com Ana Salinas</a> sobre <strong>bolo de casamento</strong>?</p>
  </section>
  <section>
    {% include episode_header.html %}  
  </section>
</article>