---
layout: home_page
title: Rádio Bastidores
thumbnail: 
description: 
keywords: 
episode_number: 1
episode_cover: emannuelle-junqueira.jpg
episode_interviewee: Emannuelle Junqueira
episode_business: Vestido de Noiva
---
<section id="featured_episode">
  <figure>
    <img src="/images/photos/{{ page.episode_cover }}">
    <figcaption>
      <h3>Episódio {{ page.episode_number }}</3>
      <h1>{{ page.episode_interviewee }}</h1>
      <h2>{{ page.episode_business }}</h2>
    </figcaption>
  <figure>
</section>

{% include intro.html %}
{% include devices.html %}
{% include newsletter.html %}